* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

div.container {
  *zoom: 1;
  max-width: 68em;
  margin-left: auto;
  margin-right: auto; }
  div.container:before, div.container:after {
    content: " ";
    display: table; }
  div.container:after {
    clear: both; }

body {
  margin: 0;
  padding: 0;
  background: #add1c9;
  color: white; }

header {
  width: 100%; }

.top {
  background: #da4d48;
  color: #da4d48; }
  .top a, .top a:visited {
    color: #da4d48; }

nav {
  background: #faf1cf; }

.header-logo {
  margin: 0 auto;
  width: 275px;
  margin-bottom: 20px; }
